body {
    background-color: #F2BE7B;
}

.row {
    background-color: #D14841;
}

.arrow {
    color: #F2BE7B;
    margin-left: -70px;
    font-size: 600%;
}

.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.bar-box {
    height: 300px;
    text-align: center;
    font-size: xx-large;
    color: #ecf0f1;
}
