.content-portion {
    background-color: #ecf0f1;
    border-radius: 30px;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.inner-html {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

body {
    background-color: #1E272B;
}

.sidebar-elem {
    background-color: #D14841;
    height: auto;
}


.arrow {
    color: #1E272B;
    margin-left: -70px;
    font-size: 600%;
}

.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.bar-box {
    height: 300px;
    text-align: center;
    font-size: xx-large;
    color: #ecf0f1;
}
