.content-portion {
    background-color: #ecf0f1;
    border-radius: 30px;
    margin-top: 50px;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 50px;
}

.inner-html {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

body {
    background-color: #1E272B;
}

/**********************/
/* Sidebar Management */
/**********************/

.sidebar-elem {
    background-color: #D14841;
    height: auto;
    font-size: 80%;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

#name-profile {
    color: #ecf0f1;
    text-align: center;
}

.arrow {
    color: #1E272B;
    margin-left: -70px;
    font-size: 150px;
}

.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.arrow-vertical-center {
    position: relative;
    top: -45%;
    /* transform: translateY(-40%); */
    /* position: relative; */
    /* top: 50%; */
    /* transform: translateY(-50%); */
}

.bar-box {
    height: 100px;
    text-align: center;
    color: #ecf0f1;
}

/*************************/
/* Bootstrap Desktop fix */
/*************************/
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
