/*******************/
/* Utility Classes */
/*******************/
.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.arrow-vertical-center {
    position: relative;
    top: -45%;
}
.no-scroll {
    overflow: hidden;
}
/***************************************************************/
/* Bootstrap Desktop Fix				       */
/* Fix the gutters from making the screen scroll horizontally. */
/* Applies globally to remove all gutters.		       */
/***************************************************************/
.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
    overflow-x: hidden;
}
